body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fcontain {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    color: #333333;
    font-size: 14px;
    text-align: left;
    margin: 0 0 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

button.Signup {
    background-color: #00b386;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

button.Signup:hover {
    background-color: #008c6a;
}

button.SignupB {
    background-color: #000000;
    color: white;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button.SignupB:hover {
    background-color: #333333;
}

a {
    text-decoration: none;
    color: #00b386;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
p.center{
    text-align: center;
}